<nav class="navbar navbar-expand-md border-bottom sticky-top">
    <!-- navbar-expand-md: We will get a toggler button when we reduce our screen size
        border-bottom: To get border in the bottom of our Navbar
        sticky-top: So that Navbar can be seen even if we scroll down our page -->
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-mountain-city"></i></a>
      <!-- Icon from FontAwesome -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/listings">Accomodations</a>
          <a class="nav-link" href="/listings/new">Add New</a>
            <form class="search-bar d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
      </div>
    </div>
  </nav>